doctype html
h1 Welcome
p List of product is here:
button(type='button' onclick='myFunction()') Click Me!
p#demo Click to get list of products.
a(href='download-picture') Download file
a(href='download-itemList') Download list of items
script.
  function myFunction() {
  document.getElementById("demo").innerHTML = "Hello Buddy...!";
  }
