doctype html
form(action='http://localhost:3000/add-item' method='POST')
  | First Name: 
  input(type='text' name='first_name')
  br
  | Last Name: 
  input(type='text' name='last_name')
  input(type='submit' value='Submit')
p#demo Click to get list of products.
a(href='download-picture') Download file
a(href='download-itemList') Download list of items
